streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
transformers
torch
openai-whisper
ffmpeg-python
yt-dlp
pydub
mistralai
python-dotenv
pypdf
fpdf
tiktoken
numpy
pandas
unstructured
sentencepiece
accelerate